<!-- add-to-cart-modal.ejs -->
<div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog" aria-labelledby="addToCartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addToCartModalLabel">¡Producto agregado al carrito!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                El producto se ha agregado al carrito exitosamente.
            </div>
            <div class="modal-footer">
                <a href="/cart" class="btn btn-primary">Ver Carrito</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Seguir Comprando</button>
            </div>
        </div>
    </div>
</div>