@import 'var.css';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: var(--color-primary);
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s, padding 0.3s;
}

nav.closed {
  width: 60px;
  padding: 10px;
}

nav.closed .menu-content {
  display: none;
}

nav.open {
  width: 200px;
  padding: 20px;
}

nav .menu-icon {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

nav .menu-icon img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

nav .menu-icon .developer-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: auto;
}

nav .menu-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  color: var(--color-menu-text);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: var(--color-secondary);
}

nav a img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

main {
  margin-left: 220px;
  padding: 20px;
  transition: margin-left 0.3s;
}

main.menu-hidden {
  margin-left: 80px;
}

footer {
  background-color: var(--color-secondary);
  color: var(--color-menu-text);
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

footer.show {
  visibility: visible;
  opacity: 1;
}

.productos-destacados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.producto {
  background-color: var(--color-card-background);
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--color-card-shadow);
  padding: 10px;
}

.producto img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.producto h3 {
  margin-top: 10px;
}

.producto p {
  margin-bottom: 10px;
}

.producto button {
  background-color: var(--color-button);
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.producto button:hover {
  background-color: var(--color-accent);
}

.developer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.developer-info .images {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--color-divider);
  padding-bottom: 10px;
}

.developer-info .images img {
  width: 51.2px;
  height: 51.2px;
  border-radius: 50%;
  margin: 0 10px;
}

.developer-info .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.developer-info .info p {
  margin: 5px 0;
  color: var(--color-menu-text);
  font-size: small;
}

/* Estilos para el menú contraído */
.menu-container.collapsed {
  width: 60px; /* Ajusta el ancho del menú contraído */
}

.menu-container.collapsed ~ .content-container {
  margin-left: 60px; /* Ajusta el margen izquierdo del contenido para que se desplace al centro */
}